* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #5f6774;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header,
footer {
    padding: 20px;
    background-color: blanchedalmond;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    color: #5f6774;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.logo {
    display: flex;
    justify-content: center;
}

.logo a img {
    max-width: 300px;
}

.menu {
    height: 35px;
    display: flex;
    margin: 30px 0 0 0;
    padding: 10px 0 10px 0;
    justify-content: center;
    font-family: system-ui;
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu-welcome,
.menu-play,
.menu-list-of-enigma,
.menu-rules {
    margin-right: 20px;
}

.menu-rules {
    margin-right: 30px;
}

.login {
    margin-left: 10px;
}

.menu a,
.login a {
    text-decoration: none;
    color: #5f6774;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.menu a:hover,
.login a:hover {
    color: lightslategrey;
}

main {
    padding: 40px;
    margin-bottom: 25px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: blanchedalmond;
    flex: 1;
}

.center-aligned th,
.center-aligned td {
    text-align: center;
}

h1 {
    margin-bottom: 10px;
}

.box-flex-row {
    display: flex;
    flex-direction: row;
    margin: 10px 0 10px 0;
}

.box-flex-column {
    display: flex;
    flex-direction: column;
    margin: 10px 0 10px 0;
}

.play-button {
    background-color: transparent;
    border: 2px solid blanchedalmond;
    margin-top: 30px;
    color: blanchedalmond;
    font-size: 24px;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    position: relative;
}

.play-button::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    border-radius: 28px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4px);
    z-index: -1;
}

.play-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.play-button a {
    text-decoration: none;
    color: inherit;
}

.btn,
.btn-list,
.btn-solution,
.btn-modify,
.btn-delete,
.btn-edit,
.btn-confirmation-edit,
.btn-confirmation-delete,
.btn-difficulty,
.btn-clue,
.btn-clue-game {
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    border: 2px solid blanchedalmond;
    color: blanchedalmond;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    text-decoration: none;
    display: inline-block;
    margin: 5px 10px;
}

.btn-difficulty {
    padding: 5px;
    margin: 0 20px 0 20px;
}

.btn:hover,
.btn-list:hover,
.btn-solution:hover,
.btn-modify:hover,
.btn-delete:hover,
.btn-edit:hover,
.btn-confirmation-edit:hover,
.btn-confirmation-delete:hover,
.btn-difficulty:hover,
.btn-clue:hover,
.btn-clue-game:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.btn a,
.btn-list a,
.btn-solution a,
.btn-modify a,
.btn-delete a,
.btn-edit a,
.btn-confirmation-edit a,
.btn-confirmation-delete a,
.btn-difficulty a,
.btn-clue a,
.btn-clue-game a {
    text-decoration: none;
    color: inherit;
}

form {
    margin: 20px 0;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
    background: transparent;
    color: blanchedalmond;
    text-align: center;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
    color: blanchedAlmond;
}

.next-previous-links {
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 20%;
    right: 21%;
}

.next-previous-links a {
    text-decoration: none;
    color: blanchedalmond;
}

.ownerId {
    color: blanchedalmond;
    margin-right: 15px;
}

.pagination {
    display: flex;
    justify-content: center;
    padding: 10px;
    font-weight: bold;
    gap: 10px;
    color: blanchedalmond;
    text-decoration: None;
}

/* Custom styles for the 'Cool' button */
.swal2-confirm.button-cool {
    box-sizing: border-box;
    appearance: none;
    background-color: blanchedalmond;
    border: 2px solid blanchedalmond;
    border-radius: 0.6em;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    color: #5f6774;
}

.swal2-confirm.button-cool:hover {
    background: linear-gradient(45deg, blanchedalmond 0, transparent 100%);
    transition: background 300ms ease-in-out;
    color: blanchedalmond;
}

/* Custom styles for the SweetAlert popup title and text */
.swal2-popup.popup .swal2-title,
.swal2-popup.popup .swal2-content {
    color: blanchedalmond;
}

/* Custom styles for the SweetAlert popup background */
.swal2-popup.popup {
    background-color: #5f6774;
}