{% extends "main.html" %}
{% block body %}

<h1 style="margin-bottom: 25px">Riddle created</h1>
<h2 style="margin-bottom: 15px">___________________________</h2>
<table>
        <tbody>
            <tr>
                <th>Riddle ID</th>
                <td>{{ riddle.riddleId }}</td>
            </tr>
            <tr>
                <th>Riddle</th>
                <td>{{ riddle.description }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ riddle.category }}</td>
            </tr>
            <tr>
                <th>Solution</th>
                <td>{{ riddle.solution }}</td>
            </tr>
            {% for clue in riddle['clues']%}
            <tr>
                <th>Clue</th>
                <td>{{ clue['clueDescription'] }}</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
    <h2>___________________________</h2>

<form action="{{ url_for('edit.editRiddle', riddleId=riddle.riddleId) }}" method="GET" style="display: flex; flex-direction: column">
        <button class="btn-confirmation-edit" type="submit">Edit riddle</button>
</form>
<button class="play-button"><a href="{{ url_for('createRiddle.createRiddle') }}">Create riddle</a></button>

{% endblock %}