{% extends "main.html" %}

{% block body %}
<h1>Riddles List</h1>
<h2 style="margin-bottom: 25px">______________________________</h2>
<div class="filter-box", style="margin-bottom: 15px">
    <label for="category-filter">Filter by category</label>
    <select id="category-filter" class="btn">
        <option value="all">All</option>
        <option value="Animal">Animal</option>
        <option value="Difficult">Difficult</option>
        <option value="Easy">Easy</option>
        <option value="Food">Food</option>
        <option value="Funny">Funny</option>
        <option value="Kids">Kids</option>
        <option value="Logic">Logic</option>
        <option value="Tricky">Tricky</option>
        <option value="What I am">What I am</option>
        <option value="Who I am">Who I am</option>
    </select>
</div>

<table class="center-aligned">
    <thead>
    <tr>
        {% if session['userRole'] == "admin" %}
        <th>Owner</th>
        {% endif %}
        <th>Riddle</th>
        <th>Solution</th>
        <th>Difficulty</th>
        <th>Category</th>
    </tr>
    </thead>
    <tbody id="riddles-tbody">
    </tbody>
</table>
<h2>______________________________</h2>
<button class="play-button"><a href="{{ url_for('createRiddle.createRiddle') }}">Create riddle</a></button>
{% endblock %}

{% block footer %}
<div class="pagination"></div>
{% endblock %}


{% block scripts %}
<script>
    const emptyListURL = "{{ url_for('list.emptyList') }}";
    const userRole = "{{ session['userRole'] }}";
    const userId = "{{ session['userId'] }}";
    const riddlesPerPage = 5;
</script>
<script src="{{ url_for('static', filename='js/list.js') }}"></script>
{% endblock %}
