{% extends "main.html" %}

{% block body %}

<h1>Rules</h1>
<h2>____________________________________</h2>
<h2 style="margin-top: 30px">
    During this game, you will have to answer to some riddles.<br>
    You need to provide the correct answer to access to the next riddle. <br>
    If you can't find the correct answer<br> you can request a clue that could certainly help you.
</h2>

<h2 style="margin-top: 30px">
    To be able to play, you've to authenticate you in the login page <br>
    or create an account if you're not registered yet.
</h2>

<h2 style="margin-top: 30px">
    Once logged in, you're going to be able to play, create enigmas and manage it.<br>
    You can also challenge others players and see your ranking on ranking page.
</h2>

<h2 style="margin-top: 30px">
    Formula to set your score :<br>

    Incorrect answer : - 20 points<br>
    Clue requested : - 10 points<br>
    Correct answer : + 50 points<br>
    Series of 3 : + 100 points<br>
</h2>
<h2>____________________________________</h2>
{% endblock %}