{% extends "main.html" %}

{% block body %}

<h1 style="margin-bottom: 25px">Ranking</h1>
<h2 style="margin-bottom: 15px">___________________________</h2>

    <table>
        <thead>
            <tr>
                <th style="padding-right: 100px; padding-bottom: 15px">Player</th>
                <th style="padding-bottom: 15px">Score</th>
            </tr>
        </thead>
        <tbody id="rankingTableBody">
        </tbody>
    </table>
    <h2>___________________________</h2>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/ranking.js') }}"></script>
{% endblock %}
